.artcile-contianer{
  .input-container{
    display: flex;
    line-height: 32px;
    .ant-input{
      flex: 1;
    }
  }
  .btn-container{
    width: 100%;
    text-align: center;
    .ant-btn{
      margin: 10px;
    }
  }
}